// Custom CSS Rules

$light-color-primary: black ; // https://irocore.com/aofuji/
$light-color-secondary: darkorange ; // https://irocore.com/fujimurasaki/
$light-color-focus: black ; // https://irocore.com/aomurasaki/
$light-color-mute: gray ; // https://irocore.com/suzu-iro/
$light-color-font: #1d1f21 ; // https://irocore.com/konnezu/
$light-color-divider: gray ; // https://irocore.com/komachinezu/
$light-color-bg: #fffffd ; // https://irocore.com/shiro/
$light-color-codebg: black ; // GitHub
$light-color-codefont: white ; // GitHub

$dark-color-primary: white ; // https://irocore.com/aofuji/
$dark-color-secondary: darkorange ; // kai https://irocore.com/fujimurasaki/
$dark-color-focus: white ; // https://irocore.com/shironezumi/
$dark-color-mute: gray ; // https://irocore.com/suzu-iro/
$dark-color-font: #c0c0c0 ; // https://irocore.com/gin-iro/
$dark-color-divider: gray ; // Discord
$dark-color-bg: #202125 ; // Discord
$dark-color-codebg: black ; // kai GitHub
$dark-color-codefont: orange ;
